<div class="search">
<br/>
</div>

<br/>
<body class="body">
<div>
  <h1 style="margin-left: 40px;"> <b>Risk Categories</b></h1>
  <p style="margin-left: 40px">Risk Categories enable you to see the risk of your risk categories as well as drill down to the lower-level issues and associated impact ratings, along with more details on which issue is causing an impact on the score.</p>
</div>
<mat-grid-list>
<!--FIRST ROW-->
<mat-card class="card1 mat-elevation-z4" style="border-radius: 8px;margin-top: -100px;margin-left: 80px; width: 415px;height:230px">
    <mat-icon class="Icon1">A</mat-icon>
    <h2>Application Security</h2>
    <br/>
    <p>Detecting common website application vulnerabilities</p>
    <div class="inner-box">
        <br/>
        <a class="critical">Critical</a><a class="high">High</a><a class="med">Medium</a>
        <a class="low">Low</a><a class="info">Info</a>
    </div>
</mat-card>
<mat-card class="card2 mat-elevation-z4" style="border-radius: 8px;margin-top: -230px; margin-left: 540px; width: 415px;height:233px;">
    <mat-icon class="Icon2">B</mat-icon>
    <h2>Business Reputation</h2>
    <br/>
    <p>Building a picture of a business' is online reputation</p>
    <div class="inner-box">
        <br/>
        <a class="critical">Critical</a><a class="high">High</a><a class="med">Medium</a>
        <a class="low">Low</a><a class="info">Info</a>
    </div>
</mat-card>
<mat-card class="card3 mat-elevation-z4" style="border-radius: 8px;margin-top: -230px; margin-left: 1000px; width: 415px;height:230px;">
    <mat-icon class="Icon2">C</mat-icon>
    <h2>Cyber Attacks</h2>
    <br/>
    <p>Publicly disclosed data breaches and ransomware attacks</p>
    <div class="inner-box">
        <br/>
        <a class="critical">Critical</a><a class="high">High</a><a class="med">Medium</a>
        <a class="low">Low</a><a class="info">Info</a>
    </div>
</mat-card>


<!--SECOND ROW-->
<mat-card class="card1 mat-elevation-z4" style="border-radius: 8px;margin-top: 50px;margin-left: 80px; width: 415px;height:230px">
    <mat-icon class="Icon2">D</mat-icon>
    <h2>Database Servers</h2>
    <br/>
    <p>Database servers identified with corresponding risk impact</p>
    <div class="inner-box">
        <br/>
        <a class="critical">Critical</a><a class="high">High</a><a class="med">Medium</a>
        <a class="low">Low</a><a class="info">Info</a>
    </div>
</mat-card>
<mat-card class="card2 mat-elevation-z4" style="border-radius: 8px;margin-top: -230px; margin-left: 540px; width: 415px;height:233px;">
    <mat-icon class="Icon1" >M</mat-icon>
    <h2>Mail/DNS</h2>
    <br/>
    <p>Detecting insecure DNS configurations and vulnerabilities</p>
    <div class="inner-box">
        <br/>
        <a class="critical">Critical</a><a class="high">High</a><a class="med">Medium</a>
        <a class="low">Low</a><a class="info">Info</a>
    </div>
</mat-card>
<mat-card class="card3 mat-elevation-z4" style="border-radius: 8px;margin-top: -230px; margin-left: 1000px; width: 415px;height:233px;">
    <mat-icon class="Icon2">M</mat-icon>
    <h2>Malware</h2><br/>
    <p>Detecting suspicious activity such as Malware or spam within an organisation's network</p>
    <div class="inner-box" style="margin-top:25px;">
        <br/>
        <a class="critical">Critical</a><a class="high">High</a><a class="med">Medium</a>
        <a class="low">Low</a><a class="info">Info</a>
    </div>
</mat-card>


<!--THIRD ROW-->
<mat-card class="card1 mat-elevation-z4" style="border-radius: 8px;margin-top: 50px;margin-left: 80px; width: 415px;height:230px">
    <mat-icon class="Icon2">N</mat-icon>
    <h2>Network Security</h2>
    <br/>
    <p>Detecting insecure netwwork settings</p>
    <div class="inner-box">
        <br/>
        <a class="critical">Critical</a><a class="high">High</a><a class="med">Medium</a>
        <a class="low">Low</a><a class="info">Info</a>
    </div>
</mat-card>
<mat-card class="card2 mat-elevation-z4" style="border-radius: 8px;margin-top: -230px; margin-left: 540px; width: 415px;height:233px;">
    <mat-icon class="Icon1">S</mat-icon>
    <h2>SSL/TLS</h2>
    <br/>
    <p>Weak encryption settings and expired encryption certificates</p>
    <div class="inner-box">
        <br/>
        <a class="critical">Critical</a><a class="high">High</a><a class="med">Medium</a>
        <a class="low">Low</a><a class="info">Info</a>
    </div>
</mat-card>
<mat-card class="card3 mat-elevation-z4" style="border-radius: 8px;margin-top: -230px; margin-left: 1000px; width: 415px;height:230px;">
    <mat-icon class="Icon2">T</mat-icon>
    <h2>Third Party Services</h2>
    <br/>
    <p>Building a picture of service providers</p>
    <div class="inner-box">
        <br/>
        <a class="critical">Critical</a><a class="high">High</a><a class="med">Medium</a>
        <a class="low">Low</a><a class="info">Info</a>
    </div>
</mat-card>
<div style="margin-top: 20px;height:130px;"></div>
</mat-grid-list>
</body>